COHERE_API_KEY=""
DEEPGRAM_API_KEY=""
ELEVENLABS_API_KEY=""
GEMINI_API_KEY=""
GITHUB_PERSONAL_ACCESS_TOKEN=""
GOOGLE_API_KEY="""
GROQ_API_KEY=""
LANGFUSE_BASEURL=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
LANGSMITH_API_KEY=""
LANGSMITH_ENDPOINT=""
LANGSMITH_PROJECT=""
LANGSMITH_TRACING=""
MISTRAL_API_KEY=""
OPENAI_ACCESS_TOKEN=""
OPENAI_API_BASE=""
OPENAI_API_KEY=""
OPENAI_BASE_URI=""
OPENROUTER_API_KEY=""
